body {
  white-space: pre;
  font-family: monospace;
  background: #393939;
  color: #b5c4d0;
}

.property {
}

.type-null {
  color: #A9B7C6;
}

.type-boolean {
  color: #ebd183;
}

.type-number {
  color: #6f93bd;
}

.type-string {
  color: #bac871;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: #333333;  
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}

a:-webkit-any-link {
  color: #9a8eb8;
  text-decoration: underline;
  cursor: auto;
}